<div
  *ngIf="data != null"
  class="container" [ngClass]="{
    'free': data.zoneOccupiedState == 'FREE',
    'machine': data.zoneOccupiedState == 'MACHINE',
    'blocked': data.zoneOccupiedState == 'BLOCKED'
    }">
  <p>
    {{data.zoneName}}
    <span *ngIf="data.machine != null">({{data.machine}})</span>
  </p>
  <p *ngIf="data == null">
    NULL
  </p>
</div>
