<div class="row">
  <button mat-button [matMenuTriggerFor]="menu">Sites</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="contest">Contest</button>
    <button mat-menu-item routerLink="statistics">Statistics</button>
    <button mat-menu-item routerLink="robot-controller">Robot Controller</button>
  </mat-menu>
  <div class="col">
    <button [color]="networkColor" mat-raised-button (click)="networkClicked()">Network</button>
  </div>
  <div class="col">
    <button [color]="fileColor" mat-raised-button (click)="fileClicked()">Load File</button>
  </div>
  <div class="col">
    <app-file-stepper *ngIf="fileActive" [files]="fileList | async"></app-file-stepper>
  </div>
  <div class="grow">

  </div>
</div>
