<h4>Orders:</h4>
<div *ngFor="let ring of rings">
  {{ring.ringColor}}: {{ring.rawMaterial}}
</div>
<div class="container flex-container">
  <div class="flex-element" *ngFor="let order of orders">
    <p>Order {{order.id}} - {{order.complexity}}</p>
    <p>CreationTime: {{order.creationGameTime /1000000000 | minuteSeconds}}</p>
    <p [ngClass]="{
    'competitive': order.competitive
    }">
      Competitive: {{order.competitive}}
    </p>
    <p>Deliver Period:</p>
    <p>{{order.deliveryPeriodBegin | minuteSeconds}} - {{order.deliveryPeriodEnd | minuteSeconds}}</p>
    <div class="cap" [ngClass]="{
    'black': order.capColor == 'CAP_BLACK',
    'grey': order.capColor == 'CAP_GREY'
    }">
    </div>
    <div class="ring" [ngClass]="{
    'yellow': order.ring3 == 'RING_YELLOW',
    'blue': order.ring3 == 'RING_BLUE',
    'orange': order.ring3 == 'RING_ORANGE',
    'green': order.ring3 == 'RING_GREEN'
    }" [hidden]="order.ring3 == null"></div>
    <div class="ring" [ngClass]="{
    'yellow': order.ring2 == 'RING_YELLOW',
    'blue': order.ring2 == 'RING_BLUE',
    'orange': order.ring2 == 'RING_ORANGE',
    'green': order.ring2 == 'RING_GREEN'
    }" [hidden]="order.ring2 == null"></div>
    <div class="ring" [ngClass]="{
    'yellow': order.ring1 == 'RING_YELLOW',
    'blue': order.ring1 == 'RING_BLUE',
    'orange': order.ring1 == 'RING_ORANGE',
    'green': order.ring1 == 'RING_GREEN'
    }" [hidden]="order.ring1 == null"></div>
    <div class="base" [ngClass]="{
    'silver': order.baseColor == 'BASE_SILVER',
    'black': order.baseColor == 'BASE_BLACK',
    'red': order.baseColor == 'BASE_RED'
    }"></div>
  </div>
</div>
