table
  width: 100%

.tbd
  background: gray

.inwork
  background: greenyellow

.assigned
  background: yellow

.success
  background: green

.failed
  background: red

.robotId
  text-align: right

.mat-header-row
  display: none
