<mat-tab-group *ngIf="(this.dataService.$data | async) as data" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Overview">
    <div class="flex-container">
      <div class="flex-shrink">
        <app-active-part-demands [data]="data.activePartDemands">

        </app-active-part-demands>
        <p>Robots</p>
        <div *ngFor="let task of data.robotBeaconSignals">
          <app-robot-beacon-signal *ngIf="task != null" [data]="task">
          </app-robot-beacon-signal>
        </div>
      </div>
      <div>
        <app-active-lock-parts [data]="data.activeLockParts">

        </app-active-lock-parts>
      </div>
      <div *ngFor="let task of data.activeProductTasks" class="flex-element">
        <app-active-product-task [data]="task"
                                 [shrink]="false">
        </app-active-product-task>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Map">
    <app-map *ngIf="tabIndex == 1"
             [data]="data.explorationZones"
             [robot]="data.robotBeaconSignals">
    </app-map>
  </mat-tab>

  <mat-tab label="Orders">
    <app-orders [orders]="data.productOrders"
                [rings]="data.rings">
    </app-orders>
  </mat-tab>

  <mat-tab label="Robots">
    <app-robots [robots]="data.robotBeaconSignals">
    </app-robots>
  </mat-tab>
</mat-tab-group>
